@font-face {
  font-family: 'SoehneBuch'; 
  font-style: normal; 
  font-weight: normal; 
  src: url('../fonts/soehne-buch.woff2') format('woff2'); 
}

body{
  display: flex;
  margin: 0;
  min-height: 100vh;
}

aside{
  background-color: rgb(0, 0, 0);
  max-width: 235px;
  min-width: 235px;
}

main{
  align-items: center;
  background-color: rgb(52, 53, 65);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.new-conversations{
  padding: 1rem;
}

.new-conversation{
  border: 1px solid rgba(32, 33, 34, 0);
  border-radius: 0.3rem;
  display: flex;
  gap: 0.5rem;
  padding: 0.3rem;
}

.new-conversation:hover{
  background-color: rgb(32, 33, 34);
  border: 1px solid rgba(32, 33, 34, 0.5);
  cursor: pointer;
}

.new-conversation-model-icon{
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  height: 1.5rem;
  justify-content: center;
  overflow: hidden;
  width: 1.5rem;
}

.new-conversation-model-icon svg{
  width: 1rem;
}

.new-conversation-model-name{
  align-self: center;
  flex: 1;
}

.new-conversation-model-name span{
  color: rgb(255, 255, 255);
  font-family: 'SoehneBuch', sans-serif; 
  font-size: 0.75rem;
}

.new-conversation-model-start{
  align-self: center;
  display: inline-block;
  position: relative;
}

.new-conversation-model-start svg{
  width: 1rem;
}

.new-conversation-model-start svg path{
  fill: rgb(128, 128, 128);
}

.new-conversation-model-start .tooltiptext {
  background-color: black;
  border-radius: 0.5rem;
  color: hsl(0, 0%, 100%);
  font-family: 'SoehneBuch', sans-serif;
  font-size: 0.8rem;
  margin-top: -0.5rem;
  margin-left: 3rem;
  opacity: 0;
  padding: 0.5rem 0;
  pointer-events: none; 
  position: absolute;
  text-align: center;
  transition: opacity 0.3s;
  visibility: hidden;
  width: 100px;
  z-index: 1001;
}

.new-conversation-model-start .tooltiptext::after {
  border-color: transparent rgb(0, 0, 0) transparent transparent;
  border-style: solid;
  border-width: 5px;
  content: " ";
  left: -10px;
  position: absolute;
  top: 35%;
}

.new-conversation-model-start:hover .tooltiptext {
  opacity: 1;
  visibility: visible;
}

.conversation{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 75vh;
  width: 40%;
}

.welcome{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.welcome-logo{
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex; 
  height: 4rem;
  justify-content: center;
  position: relative;
  width: 4rem;
}

.welcome-logo svg{
  color: rgb(0, 0, 0);
  height: 2.5rem;
  width: 2.5rem;
}

.welcome-title h1{
  color: rgb(255, 255, 255);
  font-family: "SoehneBuch", sans-serif;
  font-size: 1.3rem;
  margin: 0;
}